/* Elements */

body {
    background: url('images/header-bouquet.gif') no-repeat center top #fcf9e8;
    font-family: 'Antic Didone', serif;
    color: #666666;
}

footer {
    text-align: center;
    background-color: #e9e5cc;
    padding: 1em;
}


/* Bootsrap Overrides */

.navbar--footer {
    padding: 0;
}


/* Components */

.page-section {
    width: 1000px;
    padding: 2em 2em 5em;
    border-radius: .5em;
    margin: 0 auto 1.5em auto;
    text-align: center;
    background: url('images/divider.png') no-repeat center bottom transparent;
}

#home {

}
    #welcome {
        margin-top: 33em;
    }
        .welcome__title--main {
            font-size: 5em;
            margin-bottom: .5em;
        }

        .welcome__subtitle {
            display: block;
            font-size: .67em;
            color: #898888;
        }

        .welcome_image {
            margin-bottom: .5em;
        }

    #packages {

    }
        .package {
            margin-bottom: 1.5em;
        }
            .package__title {

            }
            .package__price {

            }
            .package__description {
                margin-bottom: .25em;
            }

